rounded-full py-2 px-3 transition {{#if textXL}} text-base {{else}} text-sm {{/if}} {{#if isDark}} bg-p3D-900 text-white hover:bg-p3D-900/90{{/if}} {{#if isBlue}} bg-p3D-800 text-white hover:bg-p3D-700{{/if}} {{#if isGrey}} bg-neutral-200 text-neutral-900 hover:bg-neutral-100{{/if}} {{#if hasGreyBorder}} border border-neutral-800{{/if}}
{{!-- 
    {{> styles/button-basic isDark=true}}
    {{> styles/button-basic isBlue=true}}
    {{> styles/button-basic isGrey=true}}
    {{> styles/button-basic textXL=true}}
    {{> styles/button-basic hasGreyBorder=true}}
 --}}