<a
  href="/{{fileName}}"
  class="w-full md:w-[45%] lg:w-[21%] group"
  onmouseover="showSum('{{projectNum}}_{{num}}')"
  aria-label="Go to {{name}}"
>
  <div
    class="rounded-sm bg-gradient-to-tr from-p3D-700 to-p3D-100 translate-x-0 -translate-y-0"
  >
    <img
      src="/project/{{projectNum}}/edition/{{num}}/icon.png"
      class="w-full translate-x-0 -translate-y-0 group-hover:-translate-x-2 group-hover:-translate-y-2 rounded-sm border border-p3D-900 transition"
      alt="{{name}}"
      loading="lazy"
    >
  </div>
</a>
