<div
  class="editSum w-full flex-col md:flex-row gap-8 {{#if @first}}flex{{else}}hidden{{/if}} min-h-[480px]" id="sum{{projectNum}}_{{num}}">
    <div class="w-full md:w-2/5 ">
        <div class="p-1 border shadow">
            <img src="/project/{{projectNum}}/edition/{{num}}/icon.png" class="" alt="" loading="lazy" id="editionSumImg">
        </div>
        
    </div>
    <div class="w-full md:w-3/5">
        <h2 id="editionSumTitle">{{name}}</h2>
        <em id="editionSumActors"></em>
        <p id="editionSumDescription">{{abstract}}</p>
        <div class="flex justify-between my-4 gap-4">
            <a href="/{{projectFileName}}" id="editionSumprojectLink">Go to project</a>
            <a href="/{{fileName}}" class="{{> styles/button-basic isDark=true}}" id="editionSumEditionLink">Go to edition</a>
        </div>
    </div>
    
</div>
