
<div class="bg-p3D-900 text-white py-8">
  <div class="flex flex-col md:flex-row justify-between w-full max-w-5xl mx-auto px-4">
    <div class="flex flex-col gap-8">
      <div class="text-sm"></div>
      <div class="flex flex-col md:flex-row gap-4 mb-12">
        <a href="https://www.maastrichtuniversity.nl/" aria-label="Link to Maastricht University"><img src="/images/logo_maastricht-university.png" class="h-8" alt="" loading="lazy"></a>
        <a href="https://pdi-ssh.nl/en/front-page/" aria-label="Link to Platform digitale infrastructuur"><img src="/images/logo_platform-digitale-infrastructuur.png" class="h-10" alt="" loading="lazy"></a>
        <a href="https://di.huc.knaw.nl/home-en.html" aria-label="Link to Knaw digital infrastructure"><img src="/images/logo-knaw-digital-infrastructure.png" class="h-8" alt="" loading="lazy"></a>
      </div>
    </div>
    <div class="flex flex-col items-center gap-2">
      <img src="/images/PURE3D_dark logo.png" class="w-20" alt="Logo of Pure 3D" loading="lazy">
      <div class="text-xs">Copyright 2021 -2024</div>
    </div>
  </div>
</div>