{{> general/html-header}}

{{> responsive-header}}

<main class="">

    {{> hero}}
    {{> project-carousel title="Featured 3D Projects"}}

    <div class="w-full text-center my-4">
        <button class="{{> styles/button-basic isBlue=true textXL=true}}">Explore all projects</button>
    </div>
    {{> bar-gradient-grey}}

    <div class="px-4 w-full max-w-xl mx-auto flex flex-col gap-16 mb-16">
        {{>project-summary image="project-img3.png" title="Contested Memories: the Battle of Mount Street Bridge" actor="Susan Schreibman, University Maastricht" text="Contested Memories is a long-term research project investigating the Battle of Mount Street Bridge through new technologies. The battle was the first confrontation on Wednesday 26 April 1916 between the Irish Volunteers and the British troops sent to quell the Irish Easter Rising. The 3D editions developed as part of the project each tell the story of the battle from a different perspective, focusing on key buildings and combatants."}}
        {{> edition-select title="3D Scholary Editions" }}
    </div>

    {{> bar-info infoText="Are you interereted in publishing your work in 3D?<br>Learn how to submit your project
    develop a 3D Scholary edition"}}
    {{> bar-gradient-color}}
    {{> main_footer}}

</main>

{{> general/html-footer}}
