{{> general/html-header}}
<script>
    const projects = [
        { "projectImg": "project-img1.png", "projectLink": "home1.html" },
        { "projectImg": "project-img2.png", "projectLink": "home2.html" },
        { "projectImg": "project-img3.png", "projectLink": "home3.html" },
        { "projectImg": "project-img4.png", "projectLink": "home4.html" },
        { "projectImg": "project-img5.png", "projectLink": "home5.html" },
        { "projectImg": "project-img6.png", "projectLink": "home6.html" },
        { "projectImg": "project-img7.png", "projectLink": "home7.html" },
        { "projectImg": "project-img8.png", "projectLink": "home8.html" }
    ];
    let currentPossition = 0;

    let rotateItems = (d) => {
        let y = document.getElementById("img-4");
        y.src = "images/project-img8.png";

        for (let i = 1; i < 7; i++) {
            let y = document.getElementById('pr-' + i);
            y.src = 'images/' + projects[i].projectImg;
        }

    };
    let testtest = (d) => {
        let y = document.getElementById('pr-' + 4);
        y.style.transform = 'translateX(-10rem)';

    }; 
</script>
{{> responsive-header}}
{{> bar-gradient-color}}
{{> bar-info infoText="<strong>Did you know?</strong><br>A project is a collection of narratives in 3D and may entail multiple 3D scholary editions."}}
<main class="">

    {{> project-carousel title="Explore our 3D Projects"}}

    <div class="w-full text-center my-4">
        <div class="rounded p-4 shadow-lg inline-flex">
            <h1 class="text-2xl">Contested Memories: the Battle of Mount Street Bridge</h1>
        </div>
    </div>
    {{> bar-gradient-grey}}

    <div class="px-4 w-full max-w-xl mx-auto flex flex-col gap-16 mb-16">
        {{>project-summary image="project-img3.png" title="Contested Memories: the Battle of Mount Street Bridge" actor="Susan Schreibman, University Maastricht" text="Contested Memories is a long-term research project investigating the Battle of Mount Street Bridge through new technologies. The battle was the first confrontation on Wednesday 26 April 1916 between the Irish Volunteers and the British troops sent to quell the Irish Easter Rising. The 3D editions developed as part of the project each tell the story of the battle from a different perspective, focusing on key buildings and combatants."}}
        {{> edition-select }}
    </div>

    {{> bar-info infoText="Did you know??<br>A project is a collection of narratives in 3D and may entail multiple 3D scholary editions."}}
    {{> bar-gradient-color}}
    {{> main_footer}}

</main>

{{> general/html-footer}}