services:
  pure3d_author:
    image: registry.diginfra.net/pure3d/pure3d_author
    container_name: pure3d_author
    hostname: pure3d_author
    depends_on:
      - mongodb
    environment:
      LOG_DIR: ${LOG_DIR}
      TEMP_DIR: ${TEMP_DIR}
      DATA_DIR: ${DATA_DIR}
      PUB_DIR: ${PUB_DIR}
      PUB_URL: ${PUB_URL}
      AUTHOR_URL: ${AUTHOR_URL}
      flaskdebug: ${flaskdebug}
      runmode: ${runmode}
      devstatus: ${devstatus}
      gitlocation: ${gitlocation}
      flaskport: ${flaskport}
      mongohost: ${mongohost}
      mongoport: ${mongoport}
      mongoportouter: ${mongoportouter}
      mongouser: ${mongouser}
      mongopassword: ${mongopassword}
      backupauthor: ${backupauthor}
      backupeditions: ${backupeditions}
      backuphost: ${backuphost}
      backupuser: ${backupuser}
      backuppassword: ${backuppassword}
    entrypoint:
      - /bin/bash
      - src/start.sh
    volumes:
      - "./:/app"
    ports:
      - "${flaskport}:${flaskport}"

  pure3d_pub:
    image: nginx:latest 
    container_name: pure3d_pub
    hostname: pure3d_pub
    environment:
      NGINX_HOST: ${nginxhost}
      NGINX_PORT: ${nginxport}
    volumes:
      - "./published/${runmode}:/usr/share/nginx/html:ro"
    ports:
      - "${nginxport}:80"

  mongodb:
    image: mongo:5.0.6
    hostname: "${mongohost}"
    container_name: mongodb
    volumes:
      - "./data/mongodb:/data/db"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${mongouser}
      MONGO_INITDB_ROOT_PASSWORD: ${mongopassword}
    ports:
      - "${mongoportouter}:${mongoport}"
