dockertag=0.12.1
TEMP_DIR=/app/temp
DATA_DIR=/app/data
PUB_DIR=/app/published
PUB_URL=http://localhost:8080
AUTHOR_URL=http://localhost:8000
devstatus=wip
flaskhost=0.0.0.0
flaskport=8000
nginxhost=0.0.0.0
nginxport=8080
flaskdebug=x
gitbranch=main
gitlocation=https://github.com/CLARIAH/pure3dx.git
hostname=dev.pure3d.eu
mongohost=mongodb
mongoport=27017
mongoportouter=37017
mongouser=root
mongopassword=example
backupauthor=pure3d-author-localhost
backupeditions=pure3d-editions-localhost
backuphost=hucdrive.huc.knaw.nl
backupuser=collector
backuppassword=item
runmode=prod
