gunicorn
# flask
flask>=3.0
# git+https://github.com/vicding-mi/flask-oidc.git@master#flask-oidc
flask-oidc
pybars4
pytailwindcss
certifi
wsgidav
lxml
markdown
pyyaml
pymongo
python-magic
#itsdangerous==2.0.1
itsdangerous
