<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="utf-8">
  <title>P3D | {{title}}</title>
  <link href="css/style.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="data/viewers/voyager/0.24.0/fonts/fonts.css">
  <link rel="stylesheet" href="data/viewers/voyager/0.24.0/css/voyager-explorer.dev.css">
  <script type="module" src="js/caroussel.js"></script>
</head>
