.basic-info {
  width: 50%;
  text-align: justify;
}

.project-icons img{
  width: 10rem;
  height: 10rem;
  text-align: center;
}

.project-info {
  width: 50%;
  text-align: justify;
}

.edition-icons img{
  width: 10rem;
  height: 10rem;
  text-align: center;
}

.edition-icons{
  width: 50%;
  text-align: center;
}

.edition-info {
  width: 50%;
  text-align: justify;
}

.modelfile {
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  color: var(--model-fore);
  background-color: var(--model-back);
  border-radius: 0.2em;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--model-border);
  padding: 0.2rem 1rem;
}
.modelfile.none {
  font-family: sans-serif;
  font-size: large;
  color: var(--model-fore-none);
  border-style: dashed;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #32557f;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

.radio {
  display: none;
}

.voyager-explorer {
  display: block;
  position: relative;
  height: 500px;
}

.home-button{
  text-align: right;
}

.scene {
  font-size: large;
  font-weight: bold;
  width: 40%;
}
.viewerbuttons {
  width: 55%;
}

.vw {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  border-radius: 0.5em;
  border: 0.2em solid var(--viewer-back);
  padding: 0.3em 0.2em;
  margin: 0.3em 2em;
}
.vwv {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;
  border-radius: 0.5em;
  border: 0.2em solid var(--viewer-back);
  padding: 0.3em 0.2em;
  margin: 0.3em 2em;
}
.vwl {
  font-size: small;
}

.vv {
  display: flex;
  flex-flow: row wrap;
  border-radius: 0.3em;
  border: 0.1em solid var(--version-back);
  padding: 0.2em 0.1em;
  margin: 0.2em 1em;
}
.vvl {
  font-size: small;
  font-family: monospace;
}

.vwb {
  border-radius: 0.3em;
  padding: 0.2em 0.1em;
  margin: 0.2em 0.1em;
  font-size: large;
  font-weight: bold;
}

.scenerow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}

div.captioncontent {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  border-radius: 0.4em;
  border-style: solid;
  border-width: 0.2em;
  border-color: var(--caption-border);
  margin-bottom: 1em;
}

div.caption {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 90%;
}

div.caption.active {
  border-color: var(--caption-border-active);
  background-color: initial;
}

.entry {
  display: flex;
  flex-flow: row wrap;
}
span.entrytitle {
  width: 50%;
  font-size: large;
  padding: 0.5rem;
}
img.previewicon {
  max-width: 50%;
  max-height: 10rem;
}

div.model {
  position: relative;
  width: 100%;
}
div.model:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
div.surround {
  position: absolute;
  width: 100%;
  height: 100%;
}
iframe.previewer {
  width: 100%;
  height: 100%;
}
.dreport {
  font-size: x-small;
  color: var(--error-fore);
}

span.fieldouter {
  display: inline-flex;
  flex-flow: row wrap;
  border-radius: 0.2em;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--field-outer-border);
  color: var(--field-outer-fore);
  background-color: var(--field-outer-back);
  padding: 0.5rem 0.2rem;
  margin: 0.5rem 0.2rem;
}
span.fieldinner {
  border-radius: 0.1em;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--field-inner-border);
  color: var(--field-inner-fore);
  background-color: var(--field-inner-back);
  padding: 0.2rem 1rem;
  margin: 0.2rem 1rem;
}
