{{> general/html-header-preamble}}
<script>
  function showSum(elemId) {
    console.log(elemId);
    let elementList = document.querySelectorAll('.editSum')

    elementList.forEach(elem => {
        elem.classList.remove("flex");
        elem.classList.add("hidden");
    });
    
    document.getElementById('sum'+elemId).classList.remove("hidden");
    document.getElementById('sum'+elemId).classList.add("flex");
    
}
</script>
</head>

{{> responsive-header}}
{{> bar-gradient-color}}
{{> bar-info readmore="Read more about 3D Scholary edition" infoText="<strong>Did you know?</strong><br>A project is a collection of narratives in 3D and may entail multiple 3D scholary editions."}}
<main class="mt-16 px-4">
  <div class="max-w-3xl mx-auto">
    <h1 class="text-2xl mb-16 ">3D Scholary Editions</h1>
  </div>

  <div class="max-w-3xl mx-auto flex flex-wrap gap-8 mb-16">
    {{#each editions}}
    {{> edition-card}}
    {{/each}}
  </div>

  {{> bar-gradient-grey}}

  <div class="w-full max-w-3xl mx-auto flex flex-col gap-16 mb-16">
    {{#each editions}}
      {{>edition-summary }}
    {{/each}}
  </div>

   
</main>
  {{> bar-gradient-color}}
  {{> main-footer}}

{{> general/html-footer}}
