{{> general/html-header}}
{{> responsive-header}}
{{> bar-gradient-color}}
{{> bar-info infoText="<strong>Did you know?</strong><br>A project is a collection of narratives in 3D and may entail multiple 3D scholary editions."}}
<main class="mt-16 px-4">
  <div class="max-w-3xl mx-auto">
    <h1 class="text-2xl mb-16 ">3D Scholary Editions</h1>
  </div>

  <div class="max-w-3xl mx-auto flex flex-wrap gap-8 mb-16">
    {{> edition-card3}}
    {{> edition-card3}}
    {{> edition-card3}}
    {{> edition-card3}}
    {{> edition-card3}}
    {{> edition-card3}}
    {{> edition-card3}}
  </div>

  {{> bar-gradient-grey}}

  <div class="w-full max-w-3xl mx-auto flex flex-col gap-16 mb-16">
    {{>edition-summary image="project-img3.png" title="Contested Memories: the Battle of Mount Street Bridge" actor="Susan Schreibman, University Maastricht" text="Contested Memories is a long-term research project investigating the Battle of Mount Street Bridge through new technologies. The battle was the first confrontation on Wednesday 26 April 1916 between the Irish Volunteers and the British troops sent to quell the Irish Easter Rising. The 3D editions developed as part of the project each tell the story of the battle from a different perspective, focusing on key buildings and combatants."}}
  </div>

   
</main>
  {{> bar-gradient-color}}
  {{> main-footer}}

{{> general/html-footer}}
