{{> general/html-header-preamble}}
<link rel="stylesheet" href="/viewers/{{viewer}}/{{version}}/fonts/fonts.css">

<script defer="" src="/viewers/{{viewer}}/{{version}}/js/voyager-explorer.min.js"></script>
</head>
<body class="text-neutral-900">
{{> responsive-header}}
{{> bar-gradient-color}}
{{> bar-info readmore="Read more about 3D Scholary edition" infoText="Did you know? A project is a collection of narratives in 3D and may entail multiple 3D scholary editions."}}
<div class="">



  <main class="px-4 w-full text-center my-16">
    <div class="max-w-2xl mx-auto">
      <h1 class="text-2xl mb-16 ">{{name}}</h1>
      <p class="text-left">{{{contentdata.abstract}}}</p>
      <div class="w-full flex">
        <a href="/{{projectFileName}}" class="{{> styles/button-basic isGrey=true}} my-8">Back to project</a>
      </div>
    </div>
  </main>

{{!-- 
  <div class="px-4 w-full max-w-xl mx-auto flex flex-col gap-16 mb-16">
    {{> edition-select title="Other editions by this project"}}
  </div>
  --}}

  {{> bar-gradient-grey}}

  <div class="flex flex-col md:flex-row w-full gap-8 max-w-5xl m-auto mb-20">
    <div class="w-full md:w-2/3 bg-neutral-100 p-2">
        <{{element}}
          root="/project/{{projectNum}}/edition/{{num}}/"
          resourceroot="/viewers/{{viewer}}/{{version}}/"
          document="{{sceneFile}}"
          id="viewer3d"
          class=""
          style="display: block; position: relative; height: 450px"
        ></{{element}}>
        <div class="p-3">
          {{{viewerSelector}}}
        </div>
        
    </div>
    <div class="bg-neutral-100 w-full md:w-1/3 p-4">

      <h2 class="text-lg mt-4 mb-1" tabindex="1">Creator(s)</h2>
      <ul>
        {{#each contentdata.creator}}
        <li class="">{{this}}</li>
        {{/each}}
      </ul>
      <h2 class="text-lg mt-4 mb-1" id="rights" tabindex="2">Rights</h2>

      <dl class="flex flex-row flex-wrap">
        <dt class="italic w-1/3">License</dt>
        <dd class="w-2/3">{{contentdata.rights.license}}</dd>
        <dt class="italic w-1/3">Rights holder</dt>
        <dd class="w-2/3">{{contentdata.rights.holder}}</dd>
      </dl>

      <h2 class="text-lg mt-4 mb-1" tabindex="3">Institution(s)</h2>
      <ul>
        {{#each contentdata.institution}}
        <li class="">{{this}}</li>
        {{/each}}
      </ul>

      <h2 class="text-lg mt-4 mb-1" tabindex="4">Period</h2>
      <ul>
        {{#each contentdata.period}}
        <li class="">{{this}}</li>
        {{/each}}
      </ul>

      <h2 class="text-lg mt-4 mb-1" tabindex="5">Content</h2>
      {{{toc}}}


    </div>
  </div>



  {{> bar-gradient-color}}
  {{> main-footer}}

</div>

{{> general/html-footer}}