{{> general/html-header-preamble}}
<link rel="stylesheet" href="/viewers/{{viewer}}/{{version}}/fonts/fonts.css">

<script defer="" src="/viewers/{{viewer}}/{{version}}/js/voyager-explorer.min.js"></script>
</head>
<body class="text-neutral-900 font-inter">
{{> responsive-header}}
{{> bar-gradient-color}}
{{> bar-info}}









<div class="max-w-[1800px] mx-auto grow flex flex-col gap-6 justify-center my-10">
  <h1 class="text-2xl mx-auto">{{name}}</h1>
  <div class="text-xl mx-auto my-2">{{dc.subtitle}}</div>
  <div class="flex flex-row max-w-4xl justify-center gap-8 mx-auto px-4 md:px-8">
    <div class="w-full lg:w-4/5">
      <p class="">{{{dc.subtitle}}}</p> 
      <p class="">{{{dc.abstract}}}</p> 
      <p>{{dc.description}}</p> 
      <a href="/{{projectFileName}}" class="{{> styles/button-basic isGrey=true}} my-8 inline-block">Up to project</a>
    </div>
    <div class="hidden lg:block lg:w-1/5">
      <img
      src="/project/{{projectNum}}/edition/{{num}}/icon.png"
      class="w-40 h-40 rounded-full object-cover"
      alt="{{name}}"
      loading="lazy"
      onerror="this.onerror=null; this.src='/images/noImg.png'"
    >
    </div>
  </div>
</div>


<!--
        class="w-full h-96 xl:h-[700px] 2xl:h-[800px]"
        style="display: block; position: relative;"
-->
<main class="w-full bg-neutral-100 mb-10">
  <div class="mx-auto flex flex-col xl:flex-row">
    <div class="border-r border-neutral-300 w-full xl:w-3/5 relative">
      <div class="sticky top-0">
        <{{element}}
        root="/project/{{projectNum}}/edition/{{num}}/"
        resourceroot="/viewers/{{viewer}}/{{version}}/"
        document="{{sceneFile}}"
        id="viewer3d"
        style="display: block; position: relative; height: 90vh; width: 100%;"
      ></{{element}}>
      <div class="p-3">
        {{{viewerSelector}}}
      </div>

      </div>

    </div>
    <div class="w-full xl:w-2/5 p-8">
      <div class="max-w-xl ">{{>metadata-edition}}</div>
    </div>
  </div>
</main>




{{> main-footer}}



{{> general/html-footer}}
