{{> general/html-header}}

{{> responsive-header}}

<main class="">

    {{> hero}}
    {{> project-carousel title="Featured 3D Projects"}}

    {{> bar-gradient-grey}}

    <div class="px-4 w-full max-w-xl mx-auto flex flex-col gap-16 mb-16">
        {{>project-summary image="" title="" actor="" text=""}}
        {{> edition-select title="3D Scholary Editions" }}
    </div>

    {{> bar-info infoText="Are you interested in publishing your work in 3D?<br>Learn how to submit your project develop a 3D Scholary edition"}}
    {{> bar-gradient-color}}
    {{> main-footer}}

</main>

{{> general/html-footer}}
