{{> general/html-header}}

<body class="text-neutral-900 font-inter">
{{> responsive-header}}

<main>

    {{> hero}}
    {{> project-carousel title="Featured 3D Projects"}}

    <div class="w-full flex justify-center pt-4">
        <a
            href="/projects.html"
            class="bg-gradient-to-r from-p3D-800 to-p3D-500 text-white py-2 px-3 rounded-lg font-bold shadow-lg border-2 border-neutral-200 transition hover:to-p3D-300"
        ><span class="drop-shadow-[0_1px_1px_rgba(0,0,0,0.8)]">Explore all Projects</span></a>
    </div>

    {{> bar-gradient-grey}}

    <div class="px-4 w-full max-w-xl mx-auto flex flex-col gap-16 mb-16">
        {{>project-summary image="" title="" creator="" text=""}}
        
    </div>

    {{> bar-info}}
    {{> bar-gradient-color}}
    {{> main-footer}}

</main>

{{> general/html-footer}}
