<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet">
  <title>{{name}}</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body class="">
  <div class="h-full min-h-screen flex flex-col justify-stretch items-stretch">
  {{> main-navigation isProject=true }}
  <main
    class="w-full max-w-[1500px] mx-auto flex flex-col px-6 mt-10 grow content-stretch"
    >
    <h1 class="text-2xl mb-16">{{name}}</h1>

    <div class="flex flex-col md:flex-row grow content-stretch">
      <div class="w-full md:w-1/4">
        <div class="text-sm text-neutral-600">Filters</div>
        <div id="facetsList" class="flex flex-col gap-4 mt-2"></div>
      </div>
      <div class="w-full md:w-3/4 flex flex-col justify-between">
        <div
          class="bg-puregreen-300 w-full grow content-stretch border-b border-b-white"
        >
          <ul
            id="filterList"
            class="
              bg-puregreen-300 w-full grid md:grid-cols-2 lg:grid-cols-3 justify-center
              gap-6 flex-wrap px-6 pb-6
            "
          > 
            {{#each projects}}
            {{>project-card}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <script>
      const projects = [
        {{#each projects}}{{>project-obj}}{{/each}}
      ]
    </script>
  </main>
  {{>main-footer}}
</div>
  <script src="/js/tag-to-filter.js"></script>
</body>
</html>
