{{> general/html-header-preamble}}
</head>
<body>
{{> responsive-header}}
{{> bar-gradient-color}}
{{> bar-info}}
<main class="">

    {{> project-carousel title="Explore our 3D Projects"}}

    {{> bar-gradient-grey}}

    <div class="px-4 w-full max-w-xl mx-auto flex flex-col gap-16 mb-16">
        {{>project-summary image="" title="" actor="" text=""}}
        {{!-- {{> edition-select title=""}} --}}
        
    </div>
    <div>{{> author-link}}</div>

    {{> bar-gradient-color}}
    {{> main-footer}}

</main>

{{> general/html-footer}}
