{{> general/html-header-preamble}}
</head>
<body>
{{> responsive-header}}
{{> bar-gradient-color}}
{{> bar-info readmore="Read more about 3D Scholary edition" infoText="<br>A project is a collection of narratives in 3D and may entail multiple 3D scholary editions."}}
<div class="">



  <main class="w-full text-center my-16">
    <div class="max-w-2xl mx-auto">
      <h1 class="text-2xl mb-16 ">{{name}}</h1>
      <p class="text-lg mt-4 mb-1">{{dc.subtitle}}</p>
      <p class="text-left">{{{dc.abstract}}}</p>
      <div>
        {{dc.description}}
      </div>
      <div class="w-full flex justify-end">
        <a href="/projects.html" class="{{> styles/button-basic isGrey=true}} my-8">All projects</a>
      </div>
    </div>
  </main>
  {{> bar-gradient-grey}}

  <div
    class="px-4 py-4 w-full max-w-4xl mx-auto flex flex-col gap-16 mb-16 bg-neutral-100 rounded h-40 overflow-y-scroll">
    <div class="flex flex-col md:flex-row flex-wrap gap-6">
        <div class="text-sm md:w-1/3">
            <h2 class="text-lg mt-4 mb-1" tabindex="1">Creators</h2>
            <ul>
                {{#each dc.creator}}
                <li class="">{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="text-sm md:w-1/3">
            <h2 class="text-lg mt-4 mb-1" tabindex="2">Contributors</h2>
            <ul>
                {{#each dc.contributor}}
                <li class="">{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <div>
            <h2 class="text-lg mt-4 mb-1" tabindex="3">Date created</h2>
            <ul>
                <li class="">{{dc.dateCreated}}</li>
            </ul>
        </div>
    </div>

  </div>

  <h2 class="px-4 py-4 w-full max-w-4xl mx-auto border border-neutral-200 rounded-t">Editions</h2>
  <div class="px-4 py-2 w-full max-w-4xl mx-auto flex flex-col md:flex-row flex-wrap gap-x-10 mb-8 bg-neutral-200 rounded-b h-[800px] overflow-y-scroll">

    {{#each editions}}
    {{> edition-card-full}}
    {{/each}}


  </div>



  {{> bar-gradient-color}}
  {{> main-footer}}

</div>

{{> general/html-footer}}












