.basic-info {
  width: 50%;
  text-align: justify;
}

.project-icons img{
  width: 10rem;
  height: 10rem;
  text-align: center;
}

.project-info {
  width: 50%;
  text-align: justify;
}

.edition-icons img{
  width: 10rem;
  height: 10rem;
  text-align: center;
}

.edition-icons{
  width: 50%;
  text-align: center;
}

.edition-info {
  width: 50%;
  text-align: justify;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #32557f;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
th {
  text-align: left;
}

.radio {
  display: none;
}

.voyager-explorer {
  display: block;
  position: relative;
  height: 500px;
}

.home-button{
  text-align: right;
}

.viewerbuttons {
  width: 55%;
}

.vwv {
  padding-left: 0.5em;
  margin-left: 0.5em;
}
.vwl {
  font-size: medium;
}

.vvl {
  font-size: large;
  font-family: monospace;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
}

.vwb {
  border-radius: 0.3em;
  padding: 0.2em 0.1em;
  margin: 0.4em 0.2em;
  font-size: large;
}
.vwc {
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  width: 10em;
}
th.vwc {
  border: 0.1rem solid #eeeeee;
  text-align: center;
}
td.vwc {
  border: 0.1rem solid #eeeeee;
  background-color: #dddddd;
  text-align: center;
}
td.vwc.activec, th.vwc.activec {
	background-color: #ffffee;
  border: 0.2rem solid #bbbb00;
}
tr.activer {
  border: 0.01rem solid #bbbb00;
}

.scenerow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}

div.captioncontent {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  border-radius: 0.4em;
  border-style: solid;
  border-width: 0.2em;
  border-color: var(--caption-border);
  margin-bottom: 1em;
}

div.caption {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 90%;
}

div.caption.active {
  border-color: var(--caption-border-active);
  background-color: initial;
}

.entry {
  display: flex;
  flex-flow: row wrap;
}
span.entrytitle {
  width: 50%;
  font-size: large;
  padding: 0.5rem;
}
img.previewicon {
  max-width: 50%;
  max-height: 10rem;
}

div.model {
  position: relative;
  width: 100%;
}
div.model:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
div.surround {
  position: absolute;
  width: 100%;
  height: 100%;
}
iframe.previewer {
  width: 100%;
  height: 100%;
}
.dreport {
  font-size: x-small;
  color: var(--error-fore);
}

span.fieldouter {
  display: inline-flex;
  flex-flow: row wrap;
  border-radius: 0.2em;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--field-outer-border);
  color: var(--field-outer-fore);
  background-color: var(--field-outer-back);
  padding: 0.5rem 0.2rem;
  margin: 0.5rem 0.2rem;
}
span.fieldinner {
  border-radius: 0.1em;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--field-inner-border);
  color: var(--field-inner-fore);
  background-color: var(--field-inner-back);
  padding: 0.2rem 1rem;
  margin: 0.2rem 1rem;
}
.fieldupload {
  border-radius: 0.1em;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--upload-inner-border);
  color: var(--upload-inner-fore);
  background-color: var(--upload-inner-back);
  padding: 0.2rem 1rem;
  margin: 0.2rem 1rem;
}
span.fileswidgetsingle {
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
}
span.fileswidgetsingle > span.withimage {
  color: var(--field-inner-fore);
  padding: 0;
  margin: 0;
}
span.fileswidgetmulti > span.withimage,
span.fileswidgetsingle > span.withimage {
  color: var(--field-inner-fore);
  padding: 0;
  margin: 0;
}
span.fileswidgetmulti {
  display: inline-flex;
  flex-flow: column nowrap;
  border-radius: 0.2em;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--field-outer-border);
  color: var(--field-outer-fore);
  background-color: var(--field-outer-back);
  padding: 0.5rem 0.2rem;
  margin: 0.5rem 0.2rem;
}
span.fileswidgetsingle > span.withoutimage,
span.fileswidgetmulti > span.withoutimage {
  border-radius: 0.1em;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--field-inner-border);
  color: var(--field-inner-fore);
  background-color: var(--field-inner-back);
  padding: 0.2rem 1rem;
  margin: 0.2rem 1rem;
}
span.fileupload.iconsite {
  all: unset;
  height: 100%;
  flex: 0 1 auto;
  text-align: right;
}
span.fileupload.iconsite > span {
  all: unset;
}
span.fileupload.iconsite img {
  height: calc(var(--topbar-height) - 1rem);
  z-index: 999;
}
span.fileupload.iconproject img {
  width: 10rem;
}
span.fileupload.iconedition img {
  width: 10rem;
}
.editwidget.editing {
  border: 0.1rem solid var(--edit-text-border);
}
.editcontent.dirty {
  border: 0.3rem solid var(--edit-dirty-border);
}

#mydetails,#myprojects,#pubprojects,#allprojects,#allusers {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 0.2rem black;
}

.udetails {
  display: flex;
  flex-flow row nowrap;
  width: 100%;
  margin-bottom: 1rem;
}
.nickname {
}
.email {
  font-family: monospace;
  font-weight: bold;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 20em;
}
.pentry {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-bottom: 2rem;
  width: 100%;
  padding-top: 1rem;
  border-top: solid 0.1rem #333333;
}
.phead {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}
.pestatus {
  font-weight: bold;
  font-size: small;
  border-radius: 0.2rem;
  color: var(--pe-fore);
  padding: 0.2rem 0.6rem;
}
.pestatus.wip {
  background-color: var(--pe-wip-back);
}
.pestatus.public {
  background-color: var(--pe-public-back);
}
.pestatus.published {
  background-color: var(--pe-published-back);
}
.ptitle,.etitle {
  flex: 2 1 auto;
  padding: 0.2rem 0.6rem;
  margin: 0.2rem 0.2rem;
}
.ptitle {
  font-weight: bold;
}
.puser,.prole,.pestatus {
  border: 0.1rem solid var(--field-inner-border);
}
.peditions {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
}
.eentry {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-left: 2rem;
  margin-bottom: 1rem;
  border-bottom: solid 0.1rem #cccccc;
}
.eentry:last-of-type {
  border-bottom-width: 0;
}
.susers,.pusers,.eusers {
  display: flex;
  flex-flow: column nowrap;
}
.userroles {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}
.users {
  flex: 1 1 auto;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.roles {
  flex: 0 1 auto;
  display: inline-flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 9em;
}
.role {
  flex: 0 0 auto;
  color: var(--role-fore);
  background-color: var(--role-back);
  border: 0.1rem solid var(--role-border);
  border-radius: 0.2rem;
  font-size: small;
  font-style: italic;
  width: 8em;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.user {
  flex: 0 1 auto;
  color: var(--user-fore);
  background-color: var(--user-back);
  border: 0.1rem solid var(--user-border);
  border-radius: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-weight: bold;
  width: 10em;
}
.role.button.on,.user.button.on {
  font-weight: bold;
  color: var(--role-on-fore);
  background-color: var(--role-on-back);
  border: 0.2rem solid var(--role-on-border);
}
