<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pure3D</title>
    <!-- href="/static/assets/style.css"-->
    <link rel="stylesheet" type="text/css" href="/static/css/vars.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/page.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/components.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script defer src="/static/js/jquery.js"></script>
    <script defer src="/static/js/pure3d.js"></script>
    {% block head %} {% endblock %}
  </head>

  <body>
    <header id="header">
      <div id="msgbar">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <span class="msgitem {{ category }}">{{ message }}</span>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <button id="flashdismiss" title="dismiss messages">❎</button>
      </div>
      <div id="topbar">
        {% block logo %} {% endblock %}
        <span class="fill5">&nbsp;</span>
        <div id="slogin-buttons">{{ specialLoginWidget | safe }}</div>
        <span class="fill1">&nbsp;</span>
        <div id="login-buttons">{{ loginWidget | safe }}</div>
      </div>
      {{ banner | safe }}
      <nav id="nav">{% block navigation %} {% endblock %}</nav>
    </header>
    <main id="main">
        <div id="contentleft">{% block contentleft %} {% endblock %}</div>
        <div id="contentright">{% block contentright %} {% endblock %}</div>
    </main>
    <footer id="footer">
      <img
        src="/static/media/Website_Footer.png"
      >
      {% block footer %} {% endblock %}
    </footer>
  </body>
</html>
